<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ejs template</title>
  </head>
  <body>
    <h1>ye html nahi ejs hai</h1>
    <p>hi my name is love sharma</p>
    <!-- in ejs we can also write js with html -->
  </body>
</html>
